# Анализ набора данных для финальной работы по курсу: Метрики, гипотезы, точки роста

In [1]:
import pandas as pd # импортируем pandas
import numpy as np # импортируем numpy

In [2]:
df = pd.read_excel('Data Sample (AIC) для итоговой работы .xlsx') # загружаем наш датасет

In [3]:
df.head() # проверяем результат импорта

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
2,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
3,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 09:02:00,2.75,17850.0,United Kingdom

In [4]:
df.info() # проверяем наши данные на пустые значения

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54214 entries, 0 to 54213
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    54214 non-null  object
 1   StockCode    54214 non-null  object
 2   Description  54080 non-null  object
 3   Quantity     54214 non-null  int64
 4   InvoiceDate  54214 non-null  datetime64[ns]
 5   UnitPrice    54214 non-null  float64
 6   CustomerID   40643 non-null  float64
 7   Country      54214 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 3.3+ MB

У нас 54 214 строк - в двух столбцах данные неполные: Description и CustomerID. Описание - это категориальные данные, наверняка в организации есть словарь с комбинациями: StockCode - Description. Если необходима детализация до уровня названия объекта, то есть смысл запросить его. В нашем анализе достаточно знать StockCode и таким образом идентифицировать объект.

In [5]:
df = df[['InvoiceNo', 'StockCode', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']] # удаляем Description

Отсутствие данных в CustomerID не позволит нам идентифицировать конкретного клиента с наибольшими возвратами либо покупками.

In [6]:
df['CustomerID'].isnull().sum() # находим количество пустых строк

13571

Пропущена значительная часть данных о клиентах, к сожалению её невозможно полностью восстановить на основе имеющихся данных. Поэтому придется убрать этот столбец из нашего датасета, а жаль...

In [7]:
df = df[['InvoiceNo', 'StockCode', 'Quantity', 'InvoiceDate', 'UnitPrice', 'Country']] # удаляем CustomerID

Ну и раз уж мы здесь добавим столбец total в котором умножим количество на цену за еденицу

In [8]:
df['Total'] = df['Quantity'] * df['UnitPrice'] # добавляем столбец Total - произведение цены за единицу на количество

In [9]:
df.head() # смотрим что у нас получилось

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,Country,Total
0,536365,84029E,6,2010-12-01 08:26:00,3.39,United Kingdom,20.34
1,536367,84879,32,2010-12-01 08:34:00,1.69,United Kingdom,54.08
2,536367,21755,3,2010-12-01 08:34:00,5.95,United Kingdom,17.85
3,536368,22914,3,2010-12-01 08:34:00,4.95,United Kingdom,14.85
4,536373,84406B,8,2010-12-01 09:02:00,2.75,United Kingdom,22.00

In [10]:
df.to_excel('Data Sample (AIC) Clear.xlsx') # сохраняем в новый файл